.App{
    box-shadow:0px 0px 7px 1px #9e739f;
  background:linear-gradient(#be8abf,#ea9abb);
  width: 30%;
  min-width: 380px;
  max-width: 60%;
  margin: 50px auto;
  /* min-height:630px ; */
  min-height: 85vh;
}